<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Information</string>
			<key>FooterText</key>
			<string>Controller © 2018, Tony Smith (@smittytone)</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>com.bps.controller.app.version</string>
			<key>DefaultValue</key>
			<string>0.0.0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Build</string>
			<key>Key</key>
			<string>com.bps.controller.app.build</string>
			<key>DefaultValue</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Installed Devices</string>
			<key>Key</key>
			<string>com.bps.controller.devices.installcount</string>
			<key>DefaultValue</key>
			<string>0</string>
		</dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>Listed Devices</string>
            <key>Key</key>
            <string>com.bps.controller.devices.listcount</string>
            <key>Default Value</key>
            <string>0</string>
        </dict>
	</array>
</dict>
</plist>
